$icomoon-font-path: "fonts" !default;

$giosg-play-circle: "\e910";
$giosg-condition-circle: "\e900";
$giosg-goal-circle: "\e901";
$giosg-room-circle: "\e902";
$giosg-target-circle: "\e903";
$giosg-api: "\e904";
$giosg-lock: "\e905";
$giosg-markup: "\e906";
$giosg-network: "\e907";
$giosg-panel: "\e908";
$giosg-screen: "\e909";
$giosg-settings: "\e90a";
$giosg-swimlane: "\e90b";
$giosg-target: "\e90c";
$giosg-tree: "\e90d";
$giosg-users: "\e90e";
$giosg-condition: "\e90f";
$giosg-goal: "\e911";
$giosg-play: "\e912";
$giosg-room: "\e913";

